<html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href=" {{ STATIC_URL }}css/unchained.css">

    <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery-ui/external/jquery/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ws4redis.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            jQuery.fn.center = function() {
                this.css("position","absolute");
                this.css("top", ( $(document).height() - this.height() ) / 2 + "px");
                this.css("left", ( $(document).width() - this.width() ) / 2 + "px");
                return this;
            };

            var createUserChat = function(user) {
                if($('.chat-window-title > h4:contains('+user+')').length) return;
                $('<div/>', {'class': 'chat-window-wrapper'}).append(
                                $('<div/>', {'class': 'chat-window-title'}).append(
                                        $('<h4/>', {'text': user}).append(
                                            $('<span/>', {'class': 'glyphicon glyphicon-remove pull-right'})
                                                    .on('click', function() {
                                                        $(this).closest('div.chat-window-wrapper').remove();
                                                    })
                                        )
                                ),
                                $('<div/>', {'class': 'chat-window-content'}).append(
                                        $('<div/>', {'class': 'chat-window-output'}),
                                        $('<textarea/>', {'class': 'chat-window-area',
                                                            'keypress': function(e) {
                                                                var code = e.keyCode || e.which;
                                                                if(code == 13) {
                                                                    var self = $(this);
                                                                    sendUserMessage('{{ user }}', user, self.val());
                                                                    $(this).siblings('.chat-window-output').append(
                                                                            $('<div/>',
                                                                              {'text': 'Ich: ' + self.val(),
                                                                               'class': 'user-message-output'})
                                                                    );
                                                                    self.val('').focus();
                                                                    return false;
                                                                }
                                                            }
                                                         })
                                )
                        )
                .appendTo('#page-chat-windows')
                .draggable({ cancel: ".chat-window-content" })
                .center()
                .fadeIn("fast");
            };

            var createGroupChat = function(group) {
                if($('.chat-window-title > h4:contains('+group+')').length) return;
                $('<div/>', {'class': 'chat-window-wrapper'}).append(
                                $('<div/>', {'class': 'chat-window-title'}).append(
                                        $('<h4/>', {'text': group}).append(
                                            $('<span/>', {'class': 'glyphicon glyphicon-remove pull-right'})
                                                    .on('click', function() {
                                                        $(this).closest('div.chat-window-wrapper').remove();
                                                    })
                                        )
                                ),
                                $('<div/>', {'class': 'chat-window-content'}).append(
                                        $('<div/>', {'class': 'chat-window-output'}),
                                        $('<textarea/>', {'class': 'chat-window-area',
                                                            'keypress': function(e) {
                                                                var code = e.keyCode || e.which;
                                                                if(code == 13) {
                                                                    var self = $(this);
                                                                    sendGroupMessage(' {{ user }} ', group, self.val());
                                                                    $(this).siblings('.chat-window-output').append(
                                                                            $('<div/>',
                                                                              {'text': 'Ich: ' + self.val(),
                                                                               'class': 'group-message-output'})
                                                                    );
                                                                    self.val('').focus();
                                                                    return false;
                                                                }
                                                            }
                                                         })
                                )
                        )
                .appendTo('#page-chat-windows')
                .draggable({ cancel: ".chat-window-content" })
                .center()
                .fadeIn("fast");
            };

            var receiveUserMessage = function(data) {
                $(".chat-window-title > h4:contains("+data.split(':')[0]+")")
                    .parent().next().find(".chat-window-output")
                        .append($('<div/>', {'text': data, 'class': 'user-message-output'}));
            };

            var receiveBroadcastMessage = function(data) {
                console.log(data);
                $("#page-chat-broadcast-output").append($('<div/>', {'text': data, 'class': 'bc-message-output'}));
                $("#page-chat-broadcast-output").attr({
                    scrollTop: $("#page-chat-broadcast-output").attr("scrollHeight")
                });
            };

            var receiveGroupMessage = function(data){
                if(data.split(':')[1].trim() != '{{user}}')
                {
                    $(".chat-window-title > h4:contains("+data.split(':')[0]+")")
                        .parent().next().find(".chat-window-output")
                            .append($('<div/>', {'text': data.split(':')[1]+':'+data.split(':')[2], 'class': 'group-message-output'}));
                }
            }

            var createWsConnection = function(url, receiveMessage) {
                var ws4redis = WS4Redis({
                    uri: '{{ WEBSOCKET_URI }}' + url,
                    receive_message: receiveMessage,
                    heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
                });
                return ws4redis;
            };

            var sendUserMessage = function(from, to, m) {
                var msg = from + ': ' + m;
                $.post('{% url "user_chat" %}', {
                    user: to,
                    message: msg
                });
            };

            var sendGroupMessage = function(from, to, m) {
                var msg = from + ': ' + m;
                $.post('{% url "group_chat" %}', {
                    group: to,
                    message: msg
                });
            };

            var sendBroadcastMessage = function() {
                if($('#page-chat-broadcast-input-area').val().length) {
                    var value = '{{ user }}' + ': ' + $('#page-chat-broadcast-input-area').val();
                    bcws.send_message(value);
                }
            };

            $(".user-chat-init").on("click", function() {
               createUserChat(this.innerHTML);
            });

            $(".group-chat-init").on("click", function() {
               createGroupChat(this.innerHTML);
            });

            $("#page-chat-broadcast-toggle").on("click", function() {
                var toSlide = $("#page-chat-broadcast-wrapper");
                var slideWidth = $("#page-chat-broadcast");
                toSlide.animate({
                    right: parseInt(toSlide.css('right')) == 0 ?
                            -slideWidth.outerWidth() + "px" :
                            0 + "px"
                });
                $(this).find("i").toggleClass("glyphicon-chevron-left glyphicon-chevron-right");
            });

            $("#page-chat-broadcast-input-area").on("keypress", function(e) {
                var code = e.keyCode || e.which;
                if(code == 13) {
                    sendBroadcastMessage();
                    $(this).val("").focus();
                    return false;
                }
            });

            $("#page-chat-broadcast-input-but").on("click", function() {
                sendBroadcastMessage();
                $('#page-chat-broadcast-input-area').val("").focus();
                return false;
            });

            var uws = createWsConnection('unchained?subscribe-user&publish-user', receiveUserMessage);
            var gws = createWsConnection('unchained?subscribe-group', receiveGroupMessage);
            var bcws = createWsConnection('unchained?subscribe-broadcast&publish-broadcast', receiveBroadcastMessage);
        });

        var addGroup = function(groupname)
        {
            $.post('{% url "add_group" %}', {
				groupname: groupname
			});
        }

        var addGroupView = function()
        {
                $('<div/>', {'class': 'chat-window-wrapper'}).append(
                                $('<div/>', {'class': 'chat-window-title'}).append(
                                        $('<h4/>', {'text': 'Groupname?'}).append(
                                            $('<span/>', {'class': 'glyphicon glyphicon-remove pull-right'})
                                                    .on('click', function() {
                                                        $(this).closest('div.chat-window-wrapper').remove();
                                                    })
                                        )
                                ),
                                $('<div/>', {'class': 'chat-window-content'}).append(
                                        $('<textarea/>', {'class': 'chat-window-area', 'id':'group-name-textarea'}),
                                        $('<input/>', {'type': 'button' , 'value':'Create', 'class':'btn btn-default small', 'id':'create-group-btn'})
                                )
                        )
                .appendTo('#page-chat-windows')
                .draggable({ cancel: ".chat-window-content" })
                .center()
                .fadeIn("fast");
                $('#create-group-btn').on('click', function (e) {
                    groupname = $('#group-name-textarea').val();
                    $.post('{% url "add_group" %}', {
				    groupname: groupname,
                    success: function(){
                        $(this).closest('div.chat-window-wrapper').remove();
                        document.location.reload(true);
                    }
			        });
                });
        }

    </script>
</head>

<body>

<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="/unchained/chat"><h3>Home</h3></a></li>

                <li><a href="/unchained/logout"><h3>Logout</h3></a></li>

                <h3>Groups</h3>
                {% for group in groups %}
                    <li><a href="#" class="group-chat-init">{{ group.name }}</a></li>
                {% endfor %}

            <input type="button" value="ADD" class="btn btn-default small" onclick="addGroupView()">

                <h3>UserList</h3>
                {% for user in users %}
                    <li><a href="#" class="user-chat-init">{{ user.username }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">

                <h1>Django Unchained Messenger</h1>

            </div>

            <div id="page-chat-windows"></div>

            <div id="page-chat-broadcast-wrapper">
                <div id="page-chat-broadcast-toggle">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </div>
                <div id="page-chat-broadcast">
                    <div id="page-chat-broadcast-output"></div>
                    <div id="page-chat-broadcast-input">
                        <textarea id="page-chat-broadcast-input-area" placeholder="Send a message"></textarea><br>
                        <button type="button" id="page-chat-broadcast-input-but" class="btn btn-default pull-right">
                            Send
                        </button>
                    </div>
                </div>
            </div>

            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">

                {% block control_panel %}

                {% endblock control_panel %}

                {% block script_panel %}

                {% endblock %}

            </div>
        </div>

    </div>

</div>
</body>
</html>
