{% extends "base_chat.html" %}

{% block control_panel %}

	<input type="text" id="text_message" />
	<button id="send_message">Send message</button>


    <div id="billboard"></div>

{% endblock control_panel %}

{% block script_panel %}
<script type="text/javascript">
jQuery(document).ready(function($) {
	var ws4redis = WS4Redis({
		uri: '{{ WEBSOCKET_URI }}foobar?subscribe-broadcast&publish-broadcast',
		receive_message: receiveMessage,
		heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
	});

	// send message though the Websocket to the server
	$('#send_message').click(function() {
		sendMessage();
	});

    $('#text_message').keypress(function(e){
        var code = e.keyCode || e.which;
        if(code == 13)
        {
            sendMessage();
        }
    })

	// receive a message though the Websocket from the server
	function receiveMessage(msg) {
		$('#billboard').append('<br/>' + msg);
        $('#text_message').val('');
	}

    var sendMessage = function(){
        var value = '{{ username }}' + ': ' + $('#text_message').val();
		ws4redis.send_message(value);
    }
});
</script>
{% endblock %}
