<html>
<head>
    <link rel="stylesheet" type="text/css" href=" {{ STATIC_URL }}css/unchained.css">


    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">

    <script type="text/javascript" src="{{ STATIC_URL }}js//jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ws4redis.js"></script>
</head>
<body>
	<h1>Django Unchained Messenger</h1>
	{% block control_panel %}
	<input type="text" id="text_message" />
	<button id="send_message">Send message</button>
	{% endblock control_panel %}
	<div id="billboard"></div>
	{% block script_panel %}{% endblock %}
</body>
</html>
