<!DOCTYPE html>
<head>
    <title>Unchained: Login</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href=" {{ STATIC_URL }}css/unchained.css">

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            if({{ redirect }}) {
                window.setTimeout(function() {
                    window.location.href = "/unchained/chat/";
                }, 2000);
            }
        });
    </script>
</head>
<body>
    <div id="uc_login_pic">
        <img src="{{ STATIC_URL }}images/broken_chain.png">
    </div>
    <div id="uc_login_wrapper">
        <div id="uc_login_header">
            <h4>Unchained Login</h4>
        </div>
        <div id="uc_login_content">
            <h5>{{ state }}</h5>
            <form action="/unchained/login/" method="post" role="form">
                {% csrf_token %}
                <input type="text" name="username" class="form-control" placeholder="Username" value="{{ username }}" /><br />
                <input type="password" name="password" class="form-control" placeholder="Password" value="" /><br />
                <div class="pull-right">
                    <button type="submit" class="btn btn-default">Login</button>
                    <button type="button" class="btn btn-default">Register</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>